In [35]:
#Part of this code is from the course The Python Mega Course: Build 10 Real World Applications with Ardit Sulce
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [7]:
r = requests.get("https://pythonhow.com/example.html")
content = r.content

In [10]:
print(content)

b'<!DOCTYPE html>\n<html>\n<head>\n<style>\ndiv.cities {\n    background-color:black;\n    color:white;\n    margin:20px;\n    padding:20px;\n} \n</style>\n</head>\n<body>\n<h1 align="center"> Here are three big cities </h1>\n<div class="cities">\n<h2>London</h2>\n<p>London is the capital of England and it\'s been a British settlement since 2000 years ago. </p>\n</div>\n<div class="cities">\n<h2>Paris</h2>\n<p>Paris is the capital city of France. It was declared capital since 508.</p>\n</div>\n<div class="cities">\n<h2>Tokyo</h2>\n<p>Tokyo is the capital of Japan and one of the most populated cities in the world.</p>\n</div>\n</body>\n</html>'

In [12]:
soup = BeautifulSoup(content, "html.parser")

In [13]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <style>
   div.cities {
    background-color:black;
    color:white;
    margin:20px;
    padding:20px;
}
  </style>
 </head>
 <body>
  <h1 align="center">
   Here are three big cities
  </h1>
  <div class="cities">
   <h2>
    London
   </h2>
   <p>
    London is the capital of England and it's been a British settlement since 2000 years ago.
   </p>
  </div>
  <div class="cities">
   <h2>
    Paris
   </h2>
   <p>
    Paris is the capital city of France. It was declared capital since 508.
   </p>
  </div>
  <div class="cities">
   <h2>
    Tokyo
   </h2>
   <p>
    Tokyo is the capital of Japan and one of the most populated cities in the world.
   </p>
  </div>
 </body>
</html>

In [15]:
all = soup.find_all("div", {"class", "cities"})

In [16]:
all

[<div class="cities">
 <h2>London</h2>
 <p>London is the capital of England and it's been a British settlement since 2000 years ago. </p>
 </div>, <div class="cities">
 <h2>Paris</h2>
 <p>Paris is the capital city of France. It was declared capital since 508.</p>
 </div>, <div class="cities">
 <h2>Tokyo</h2>
 <p>Tokyo is the capital of Japan and one of the most populated cities in the world.</p>
 </div>]

In [17]:
all[0]

<div class="cities">
<h2>London</h2>
<p>London is the capital of England and it's been a British settlement since 2000 years ago. </p>
</div>

In [18]:
all[1]

<div class="cities">
<h2>Paris</h2>
<p>Paris is the capital city of France. It was declared capital since 508.</p>
</div>

In [19]:
all[2]

<div class="cities">
<h2>Tokyo</h2>
<p>Tokyo is the capital of Japan and one of the most populated cities in the world.</p>
</div>

In [22]:
all[0].find_all("h2")

In [27]:
all[0].find_all("h2")[0].text

'London'

In [28]:
for item in all:
    print(item.find_all("h2")[0].text)

London
Paris
Tokyo

In [29]:
for item in all:
    print(item.find_all("p")[0].text)

London is the capital of England and it's been a British settlement since 2000 years ago.
Paris is the capital city of France. It was declared capital since 508.
Tokyo is the capital of Japan and one of the most populated cities in the world.

In [34]:
cities = []
texts = []
for item in all:
    cities.append(item.find_all("h2")[0].text)
print (cities)

for item in all:
    texts.append(item.find_all("p")[0].text)
print (texts)

dictionary = dict(zip(cities, texts))
print(dictionary)

['London', 'Paris', 'Tokyo']
["London is the capital of England and it's been a British settlement since 2000 years ago. ", 'Paris is the capital city of France. It was declared capital since 508.', 'Tokyo is the capital of Japan and one of the most populated cities in the world.']
{'London': "London is the capital of England and it's been a British settlement since 2000 years ago. ", 'Paris': 'Paris is the capital city of France. It was declared capital since 508.', 'Tokyo': 'Tokyo is the capital of Japan and one of the most populated cities in the world.'}

In [44]:
#converting lists to dataframe:
df_lists = pd.DataFrame({"cities" : cities,
                       "texts" : texts})
df_lists

   cities                                              texts
0  London  London is the capital of England and it's been...
1   Paris  Paris is the capital city of France. It was de...
2   Tokyo  Tokyo is the capital of Japan and one of the m...

In [42]:
#converting dictionary to dataframe:
df_dict = pd.DataFrame.from_dict(dictionary, orient="index")
df_dict

                                                        0
London  London is the capital of England and it's been...
Paris   Paris is the capital city of France. It was de...
Tokyo   Tokyo is the capital of Japan and one of the m...